

.container {
            background-image: url("https://getwallpapers.com/wallpaper/full/1/7/f/356243.jpg");
            text-shadow: 10px 10px 10px #000000;
            color: rgb(198, 198, 198);
            padding-bottom: 10px;
            padding-left: 5px;
        }